body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0 auto;
  padding: 0;
}
@supports (display: grid) {
  .grid {
    display: grid;
    grid-gap: 1.5vh;
    min-height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 10vh auto 10vh;
    grid-template-areas: 
      "header"
      "main"
      "aside"
      "footer";
    @media screen and (min-width:750px) {
      grid-template-columns: 25% 75%;
      grid-template-rows: 5vh auto;
      grid-template-areas:
        "header header"
        "aside main";
    }
    @media screen and (min-width:992px) {
      grid-template-columns: 15% 85%;
      grid-template-rows: 5vh auto;
      grid-template-areas:
        "header header"
        "aside main";
    } 
  }
  header { 
    grid-area: header; 
  }
  aside { 
    grid-area: aside; 
    margin-top: -1.5vh;
  }
  main  { 
    grid-area: main; 
  }
  .footer {
    grid-area: footer;
  }

}

header {
  align-items: center;
  background: #222222;
  color: white;
  display: flex;
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
  .logo {
    color: white;
    font-size: 1.618em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
aside {
  background-color: dimgray;
  color: white;
  .aside-title{
    width: 100%;
    clear: both;
    font-weight:bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
  }
  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      a {
        color: white;
        padding: 0.5em 0.25em;
        border-top: 1px solid white;
        display:block;
        text-decoration: none;
        &:hover {
          transition: ease-in-out all 0.5s;
          color: #2d2d2d;
          background-color: white;
        }
      }
    }
  }
}
main {
  padding: 0 0.5em 2em 0.5em;
  @media screen and (min-width:768px) {
    padding: 0 0 2em 0;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  background-color: #222222;
  color: white;
  border-top: 1px solid gray;
  p {
    padding: 0 0.25em;
  }
  a {
    color: white;
  }
}

h2 {
  border-bottom: 1px solid lightgray;
}
